* {
  margin: 0;
  padding: 0;
}

html {
  font-family: monospace;
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5rem;
  padding-top: 9rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

ol {
  margin-left: 4rem;
}

.new-block {
  margin: 1rem 0 0.25rem;
  display: inline-block;
  font-style: italic;
}

.block-name {
  margin: 1rem 0 0.25rem;
  color: darkblue;
}

font, .block-name {
  font-weight: 700;
}

.count-lines {
  font-style: normal;
}

w5 {
  font-style: italic;
}

w25::first-letter {
  color: red;
}

li {
  color: #999;
}

li > span {
  color: #333;
}

header {
  background-color: #D1A48C;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding: 0 4rem;
  font-family: sans-serif;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0 0.4rem 1.2rem;
}

header a {
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: bold;
  text-align: center;
  transition: 400ms;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

header a:hover {
  display: block;
  background-color: white;
  color: #D1A48C;
}

header span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  user-select: none;
}

header h1 {
  font-size: 1.5rem;
}

h2 {
  font-family: sans-serif;
  font-size: 2rem;
  user-select: none;
}

summary {
  list-style: none;
  margin-left: 3rem;
  margin-right: 3rem;
}

body > details {
  margin: 6rem 0 3rem;
}

body > details::before {
  display: block;
  content: " ";
  margin-top: -7rem;
  height: 7rem;
  visibility: hidden;
  pointer-events: none;
}

body > details:first-of-type {
  margin-top: 3rem;
}

details details {
  margin-left: 3rem;
  width: 50rem;
}

details details .code {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.summary-span {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-top: 2rem;
  background-color: hsla(0, 0%, 96%);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  user-select: none;
  cursor: pointer;
}

h2:hover {
  cursor: pointer;
}

img {
  display: block;
  margin: 4rem auto 0;
  width: 15rem;
}

footer {
  background-color: #565A56;
  height: 8rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

h {
  color: darkorange;
}

w22 {
  color: darkblue;
}

table {
  margin: 4rem auto 0;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

th, td {
  border: 0.125rem solid black;
  padding: 0.75rem;
}

tr {
  background-color: cornsilk;
}

th, .first-column {
  background-color: burlywood;
}

.first-column {
  font-weight: bold;
}

.none {
  font-style: italic;
  opacity: 0.5;
  font-weight: normal;
}


html {
  font-family: monospace;
  font-size: 125%;
}

body {
  line-height: 1.5rem;
  padding-top: 6rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.code {
  display: inline-block;
  background-color: #eee;
  padding: 2rem;
  margin: 4rem 3rem;
  border-radius: 0.5rem;
}

ol {
  margin-left: 4rem;
}

.new-block {
  margin: 1rem 0 0.25rem;
  display: inline-block;
  font-style: italic;
}

.block-name {
  margin: 1rem 0 0.25rem;
  color: darkblue;
}

font, .block-name {
  font-weight: 700;
}

.count-lines {
  font-style: normal;
}

w5 {
  font-style: italic;
}

w25::first-letter {
  color: red;
}

li {
  color: #999;
}

li > span {
  color: #333;
}

header {
  background-color: #D1A48C;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-family: sans-serif;
}

header span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  user-select: none;
}

header h1 {
  font-size: 1.5rem;
}

footer {
  background-color: #565A56;
  height: 8rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

footer p {
  font-family: sans-serif;
  color: white;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

h {
  color: darkorange;
}

w22 {
  color: darkblue;
}